<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <div class="container py-2">
        <div class="row py-4 pb-0 pb-sm-4 align-items-center ">

            <div class="col-sm-4 col-lg-3 text-center text-sm-start">
                <div class="main-logo">
                    <a href="views/user/index">
                        <img src="/static/images/logo.png" alt="logo" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-5 d-none d-lg-block">
                <div class="search-bar border rounded-2 px-3 border-dark-subtle">
                    <form id="search-form" class="text-center d-flex align-items-center" action="" method="">
                        <input type="text" class="form-control border-0 bg-transparent"
                               placeholder="Search for Pet Names!" />
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                  d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z" />
                        </svg>
                    </form>
                </div>
            </div>

            <div class="col-lg-2 d-none d-lg-block ms-auto text-end">
                <div class="d-flex justify-content-end gap-2">
                    <a href="/user/login">
                        <button type="button" id="loginbtn" class="btn btn-outline-primary" style="padding: 6px 12px;">Login</button>
                    </a>
                    <a href="/user/join">
                        <button type="button" id="joinbtn" class="btn btn-outline-primary" style="padding: 6px 12px;">Join</button>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <hr class="m-0">
    </div>

    <div class="container">
        <nav class="main-menu d-flex navbar navbar-expand-lg ">

            <div class="d-flex d-lg-none align-items-end mt-3">
                <ul class="d-flex justify-content-end list-unstyled m-0">
                    <li>
                        <a href="account.html" class="mx-3">
                            <iconify-icon icon="healthicons:person" class="fs-4"></iconify-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="mx-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch"
                           aria-controls="offcanvasSearch">
                            <iconify-icon icon="tabler:search" class="fs-4"></iconify-icon>
                        </a>
                    </li>
                </ul>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                <div class="offcanvas-header justify-content-center">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body justify-content-between">

                    <ul class="navbar-nav menu-list list-unstyled d-flex gap-md-3 mb-0 align-center">
                        <li class="nav-item">
                            <a href="views/user/index" class="nav-link active">Home</a>
                        </li>

                        <!-- 소개 -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" id="pages" data-bs-toggle="dropdown"
                               aria-expanded="false">About Us</a>
                            <ul class="dropdown-menu" aria-labelledby="pages">
                                <li><a href="index.html" class="dropdown-item">Hello</a></li>
                                <li><a href="index.html" class="dropdown-item">location</a></li> <!--보호소 위치 -->
                                <li><a href="index.html" class="dropdown-item">burget state</a></li> <!--유기동물 현황 -->
                                <li><a href="index.html" class="dropdown-item">Error 404</a></li>
                            </ul>
                        </li>

                        <!-- 입양 -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" id="adoptMenu" data-bs-toggle="dropdown"
                               aria-expanded="false">Adoption</a>
                            <ul class="dropdown-menu" aria-labelledby="pages">
                                <li><a href="index.html" class="dropdown-item">Adoption Process</a></li><!--입양절차-->
                                <li><a href="index.html" class="dropdown-item">Meet Our Animals</a></li><!--동물소개-->
                                <li><a href="index.html" class="dropdown-item">Admission</a></li><!--입소신청-->
                            </ul>
                        </li>

                        <!-- 후원 -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" id="donationMenu" data-bs-toggle="dropdown"
                               aria-expanded="false">Donation</a>
                            <ul class="dropdown-menu" aria-labelledby="pages">
                                <li><a href="index.html" class="dropdown-item">Donation</a></li><!--후원하기-->
                                <li><a href="index.html" class="dropdown-item">Donation Report</a></li><!--재정 현황-->
                            </ul>
                        </li>

                        <!-- 게시판 -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" id="communityMenu" data-bs-toggle="dropdown"
                               aria-expanded="false">Community</a>
                            <ul class="dropdown-menu" aria-labelledby="pages">
                                <li><a href="index.html" class="dropdown-item">Notice</a></li>
                                <li><a href="index.html" class="dropdown-item">FAQs</a></li>
                                <li><a href="index.html" class="dropdown-item">Adopt Review</a></li><!--입양 후기-->
                            </ul>
                        </li>
                    </ul>

                    <div class="d-none d-lg-flex align-items-end">
                        <ul class="d-flex justify-content-end list-unstyled m-0">
                            <li>
                                <a href="views/user/mypage" class="mx-3">
                                    <iconify-icon icon="healthicons:person" class="fs-4" style="color: #dead6f;"></iconify-icon>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </div>
</header>

</html>
