<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layouts/admin/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
    <main class="p-4">
        <div class="container my-5">
            <h2 class="text-center mb-4">게시글 리스트</h2>


            <!-- 사용자 테이블 -->
            <div class="table-container">
                <table class="table table-bordered table-hover text-center">
                    <colgroup>
                        <col style="width:3%">
                        <col style="width: 8%">
                        <col style="width:12%">
                        <col style="width:12%">
                        <col style="width:7%">
                        <col style="width:10%">
                    </colgroup>

                    <thead class="table-dark">
                    <tr>
                        <th>번호</th>
                        <th>이름</th>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>신고수</th>
                        <th>관리</th>
                    </tr>
                    </thead>
                    <tbody id="userTableBody">
                    <tr th:each="bdo : ${bddto.bdlist}">
                        <td th:text="${bdo.bd_no}"></td>
                        <td th:text ="${bdo.userid}"></td>
                        <td th:text ="${bdo.bd_title}"></td>
                        <td th:text="${bdo.bd_regdate}"></td>
                        <td th:text = "${bdo.bd_report}"></td>
                        <td>
                            <div class="d-flex justify-content-center"> <!-- Flexbox로 가운데 정렬 -->
                            <button class="btn btn-sm btn-primary" th:onclick = "|BoardDetailModal(${bdo.bd_no})|"
                                    type="button">상세보기
                            </button>
                            <form id= "deleteForm" th:action="@{/adboard/delete/{bd_no}(bd_no=${bdo.bd_no})}" method="POST">
                                <button type="button" class="btn btn-danger" onclick="confirmDelete()">삭제</button>
                            </form>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <!-- The Modal -->
        <div aria-hidden="true" aria-labelledby="BoardDetailModalLabel" class="modal fade" id="BoardDetailModal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">유저 상세 정보</h4>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- 사용자 정보 입력창들 -->
                        <div class="input-group mb-3">
                            <span class="input-group-text">번 호</span>
                            <span class="form-control" id="bdNo"></span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">아이디</span>
                            <span class="form-control" id="userId"></span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">제목</span>
                            <span class="form-control" id="bdTitle"></span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">내용</span>
                            <textarea class="form-control no-resize" id="bdCont" rows="5" readonly style="resize: none;"></textarea>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">작성일</span>
                                    <span class="form-control" id="bdRegdate"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">추천</span>
                                    <span class="form-control" id="bdThumbs"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">조회수</span>
                                    <span class="form-control" id="bdViews"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">신고수</span>
                                    <span class="form-control" id="bdReport"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
                    </div>
                </div>
            </div>
        </div>



    </main>
    <th:block layout:fragment="script">
        <script src="/static/js/admin/board.js"></script>
    </th:block>
</th:block>
</html>
