<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user/layout}">

<th:block layout:fragment="content">
<body>



<div class="preloader-wrapper">
    <div class="preloader">
    </div>
</div>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart" aria-labelledby="My Cart">
    <div class="offcanvas-header justify-content-center">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="order-md-last">

            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Grey Hoodie</h6>
                        <small class="text-body-secondary">Brief description</small>
                    </div>
                    <span class="text-body-secondary">$12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Dog Food</h6>
                        <small class="text-body-secondary">Brief description</small>
                    </div>
                    <span class="text-body-secondary">$8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Soft Toy</h6>
                        <small class="text-body-secondary">Brief description</small>
                    </div>
                    <span class="text-body-secondary">$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-bold">Total (USD)</span>
                    <strong>$20</strong>
                </li>
            </ul>

            <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasSearch"
     aria-labelledby="Search">
    <div class="offcanvas-header justify-content-center">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="order-md-last">
            <h4 class="text-primary text-uppercase mb-3">
                Search
            </h4>
            <div class="search-bar border rounded-2 border-dark-subtle">
                <form id="search-form" class="text-center d-flex align-items-center" action="" method="">
                    <input type="text" class="form-control border-0 bg-transparent" placeholder="Search Here" />
                    <iconify-icon icon="tabler:search" class="fs-4 me-3"></iconify-icon>
                </form>
            </div>
        </div>
    </div>
</div>



<section id="banner" style="background: #F9F3EC;">
    <div class="container">
        <div class="swiper main-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide py-5">
                    <div class="row banner-content align-items-center">
                        <div class="img-wrapper col-md-5">
                            <img src="/static/images/banner-img.png" class="img-fluid">
                        </div>
                        <div class="content-wrapper col-md-7 p-5 mb-5">
                            <div class="secondary-font text-primary text-uppercase mb-4">Adopt, don't shop</div>
                            <h2 class="banner-title display-1 fw-normal">사지말고, <br><span class="text-primary"> 입양해주세요!<br><br>
                    </span>
                            </h2>
                            <a href="/adoption/process" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                                Adoption Process
                                <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                                    <use xlink:href="#arrow-right"></use>
                                </svg></a>
                        </div>

                    </div>
                </div>
                <div class="swiper-slide py-5">
                    <div class="row banner-content align-items-center">
                        <div class="img-wrapper col-md-5">
                            <img src="/static/images//banner-img3.png" class="img-fluid">
                        </div>
                        <div class="content-wrapper col-md-7 p-5 mb-5">
                            <div class="secondary-font text-primary text-uppercase mb-4"> </div>
                            <h2 class="banner-title display-1 fw-normal">유기동물을 <br><span class="text-primary">후원해주세요!<br><br>
                    </span>
                            </h2>
                            <a href="/support/donate" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                                Donation
                                <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                                    <use xlink:href="#arrow-right"></use>
                                </svg></a>
                        </div>

                    </div>
                </div>

            </div>

            <div class="swiper-pagination mb-5"></div>

        </div>
    </div>
</section>

<section id="categories">
    <div class="container my-3 py-5">
        <div class="row my-5">
            <div class="col text-center">
                <a href="/board/faq/list" class="categories-item">
                    <i class="fa-solid fa-question"></i>
                    <h5>FAQs</h5>
                </a>
            </div>
            <div class="col text-center">
                <a href="/board/review/list" class="categories-item">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <h5>입양 후기</h5>
                </a>
            </div>
            <div class="col text-center">
                <a href="/support/donate" class="categories-item">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <h5>후원하기</h5>
                </a>
            </div>
            <div class="col text-center">
                <a href="/user/aboutus/burget" class="categories-item">
                    <i class="fa-solid fa-cat"></i>
                    <i class="fa-solid fa-dog"></i>
                    <h5>유기동물 현황</h5>
                </a>
            </div>
            <div class="col text-center">
                <a href="/support/financial" class="categories-item">
                    <i class="fa-solid fa-money-bill-trend-up"></i>
                    <h5>재정 현황</h5>
                </a>
            </div>
        </div>
    </div>
</section>





</section>

<section id="hello" class="my-5">
    <div class="container my-3 py-5">
        <div class="section-header d-md-flex justify-content-between align-items-center">
            <h2 class="display-3 fw-normal">Hello</h2>
            <div class="row my-5">
                <div class="col text-center">
                    <a href="/user/aboutus/hello" class="categories-item"> -> 바로가기
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                        <use xlink:href="#arrow-right"></use>
                    </svg></a>
                </div>
            </div>
        </div>
    </div>
</section>





<section id="adoption" class="my-5 overflow-hidden">
    <div class="container my-3 py-5">
        <div class="section-header d-md-flex justify-content-between align-items-center">
            <h2 class="display-3 fw-normal">Adoption</h2>
            <div class="row my-5">
                <div class="col text-center">
                    <a href="/adoption/process" class="categories-item"> -> 바로가기
                        <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                            <use xlink:href="#arrow-right"></use>
                        </svg></a>
                </div>
            </div>
        </div>
    </div>

</section>



<section id="donation" class="my-5">
    <div class="container my-3 py-5">
        <div class="section-header d-md-flex justify-content-between align-items-center">
            <h2 class="display-3 fw-normal">Donation</h2>
            <div class="row my-5">
                <div class="col text-center">
                    <a href="/support/donate" class="categories-item"> -> 바로가기
                        <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                            <use xlink:href="#arrow-right"></use>
                        </svg></a>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="community" class="my-5">
    <div class="container my-3 py-5">
        <div class="section-header d-md-flex justify-content-between align-items-center">
            <h2 class="display-3 fw-normal">Community</h2>
            <div class="row my-5">
                <div class="col text-center">
                    <a href="/board/faq/list" class="categories-item"> -> 바로가기
                        <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                            <use xlink:href="#arrow-right"></use>
                        </svg></a>
                </div>
            </div>
        </div>
    </div>
</section>





</body>
</th:block>
</html>