<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">


</head>

<body>

<div class="container">
    <div class="content-wrapper mx-auto">
        <!-- 헤더 -->
        <div th:replace="~{fragments/user/header::header}"></div>

        <!-- 네비게이션 (필요 시) -->
        <div th:replace="~{fragments/user/nav::nav}"></div>

        <!-- 본문 내용 (content로 채워짐) -->
        <th:block layout:fragment="content"></th:block>

        <!-- 푸터 추가 -->
        <div th:replace="~{fragments/user/footer::footer}"></div>
    </div>
</div>

</body>
</html>
