<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:fragment="header" class="header">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between">
            <h2>관리자 페이지</h2>
            <div class="header-buttons d-flex">
                <button class="btn btn-primary" id = "homebtn">홈으로</button>
                <button class="btn btn-primary">로그아웃</button>
            </div>
        </div>
    </div>

    <th:block layout:fragment="script">
        <script>
            let homebtn = document.querySelector("#homebtn")

            homebtn.addEventListener('click', (e) =>{
                location.href=`/`;
            });
        </script>
    </th:block>
</header>
</html>