<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user/layout.html}">
<th:block layout:fragment="content">
    <main id="content">
        <h2>입양 게시판</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>번호</th>
                <th>동물 이름</th>
                <th>종</th>
                <th>입소 날짜</th>
                <th>입양 상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="adoption : ${adoptions}">
                <td th:text="${adoption.animalNo}">1</td>
                <td>
                    <a th:href="@{/adoption/view(animalNo=${adoption.animalNo})}"
                       th:text="${adoption.nm}">동물 이름</a>
                </td>
                <td th:text="${adoption.spcs}">종</td>
                <td th:text="${#dates.format(adoption.entrncDate, 'yyyy-MM-dd')}">입소 날짜</td>
                <td th:text="${adoption.adpSttus}">입양 상태</td>
            </tr>
            </tbody>
        </table>
    </main>
</th:block>
</html>
