<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.animalfoot.aniproject.repository.AdBoardRepository">

    <select id="selectFindBoard" parameterType="map">
        select  b.bd_no as bd_no , u.userid as userid ,b.bd_title as bd_title, b.bd_regdate as bd_regdate, b.bd_report as bd_report
        from board b join users u on b.uno = u.uno
        where ${findtype} like concat('%', #{findkey}, '%')
        order by bd_no desc limit #{stnum}, #{pageSize}
    </select>

    <select id="countFindBoard" parameterType="map">
        select count(b.bd_no) cnt from board b join users u on b.uno = u.uno
        where ${findtype} like concat('%', #{findkey}, '%')
    </select>

</mapper>
